*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.text-content h1{
    display: flex;
    font-size: 52px;
    margin-left: 50px;
    gap: 8px;
}
.text-content p{
    margin-top: 20px;
    margin-left: 50px;
}
.text-content{
    display: flex;
    gap: 20rem;
    align-items: center;
    margin-left: 60px;
    align-items: center;
    background-color: rgba(253, 230, 138, 1);
    width: 1200px;
    height: 598px;
    justify-content: space-between;
    border-radius: 50px;
}
 .line-1{
    position: absolute;
    left: 95%;


}
.line-2{
    position: absolute;
    left: -1%;
}

.arrow-1{
    position: absolute;
    right: 1%;
}

.arrow-2{
    position: absolute;
    left: 1%;
}


.buttons {
    margin-top: 30px;
    margin-left: 45px;
    display: flex;
    gap: 2rem;
}

.button_download {
    background-color: black;
    border-radius: 52px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    text-align: center;
    width: 170px;
}
.button_download:nth-child(2){
    background-color:  rgba(253, 230, 138, 1);
}
.button_download:nth-child(2){
    color: black;
    justify-content: space-between;
}

.buttons button:nth-child(1) .button_download span {
    color: white;
}

.buttons button:nth-child(1) svg path {
    fill: white; 
}

.button_download p{
    margin-bottom: 10px;
}